﻿<table class="table table-responsive table-st">

    <tr ng-repeat="contact in applicantData">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.date | date:'dd-MM-yyyy'}}</td>
        <td>
            <a ng-href="/edit/{{contact.id}}" class="btn btn-sm btn-primary">Edit</a>
            <a ng-href="/contact/{{contact.id}}" class="btn btn-sm btn-primary">Details</a>
            <button type="button" ng-click="function(contact.id,contact.firstName,contact.lastName)" class="btn btn-sm btn-primary">Delete</button>
        </td>
    </tr>
</table>
