﻿<div class="col-md-6 col-md-offset-3">
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <a href="/" class="btn btn-sm btn-default bottom-buffer">Contact list</a>

    <form novalidate name="newContactForm" ng-submit="vm.addContact()">
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormEmail()">Add Email</button>
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormPhone()">Add Phone number</button>
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormTag()">Add Tag</button>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" ng-model="vm.contact.firstName" required />
            <span ng-show="newContactForm.firstName.$error.required" class="text-warning">First Name is required.</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" ng-model="vm.contact.lastName" required />
            <span ng-show="newContactForm.lastName.$error.required" class="text-warning">Last Name is required.</span>
        </div>
        <div class="form-group" ng-repeat="mail in vm.contact.emails track by $index">    
                <label for="mail">Email</label>
                <input class="form-control" type="email" id="mail" name="mail_{{$index}}" ng-model="mail.mail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required/>
            <span ng-show="newContactForm.mail_{{$index}}.$error.pattern" class="text-warning">Not a valid E-mail!</span>
                <span ng-show="newContactForm.mail_{{$index}}.$error.required" class="text-warning">Email is required.</span>
        </div>
        <div class="form-group" ng-repeat="phone in vm.contact.phoneNumbers track by $index">
            <label for="phone">Phone Number</label>
            <input class="form-control" type="text" id="phone" name="phone_{{$index}}" ng-model="phone.phoneNum" ng-pattern="/^[0-9]/" required />
            <span ng-show="newContactForm.phone_{{$index}}.$error.pattern" class="text-warning">Not a valid number!</span>
            <span ng-show="newContactForm.phone_{{$index}}.$error.required" class="text-warning">Phone number is required.</span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success btn-sm top-buffer" ng-disabled="newContactForm.$invalid" />
        </div>
    </form>
</div>