﻿
<table class="table table-bordered table-responsive table-striped w-50 pull-left">

    <tr>
        <td><strong>Full name:</strong></td>
        <td>{{vm.contact.firstName}}  {{vm.contact.lastName}}</td>
    </tr>
    <tr>
        <td><strong>Date Added:</strong></td>
        <td>{{vm.contact.date | date:'dd/MM/yyyy'}}</td>
    </tr>
    <tr ng-repeat="email in vm.contact.emails track by $index">
        <td><strong>Email{{$index + 1}}:</strong></td>
        <td>{{email.mail}}</td>
    </tr>
    <tr ng-repeat="phoneNumber in vm.contact.phoneNumbers track by $index">
        <td><strong>Phone number{{$index + 1}}:</strong></td>
        <td>{{phoneNumber.phoneNum}}</td>
    </tr>
    <tr ng-repeat="tag in vm.contact.tags track by $index">
        <td><strong>Tag{{$index + 1}}:</strong></td>
        <td>{{tag.tag}}</td>
    </tr>

</table>
<div class="pull-left w-50 affix col-lg-offset-6">
    <form novalidate name="addTagForm" ng-submit="vm.addTag()">
        <div class="form-group">
            <input class="form-control bottom-buffer pull-left w-50" type="text" id="tag" name="tag" ng-model="vm.tag.tag" required />
            <button type="submit" class="btn btn-sm btn-success bottom-buffer left-buffer h-34 p-7" ng-disabled="addTagForm.$invalid">Add tag</button>
        </div>
    </form>
    <form novalidate name="addEmailForm" ng-submit="vm.addEmail()">
        <div class="form-group">
            <input class="form-control bottom-buffer pull-left w-50" type="text" id="email" name="email" ng-model="vm.email.mail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />
            <button type="submit" class="btn btn-sm btn-success bottom-buffer left-buffer h-34 p-7" ng-disabled="addEmailForm.$invalid">Add email</button>
            <span ng-show="addEmailForm.email.$error.pattern" class="text-warning">Not a valid E-mail!</span>
        </div>
    </form>
    <form novalidate name="addPhoneNumForm" ng-submit="vm.addPhoneNumber()">
        <div class="form-group">
            <input class="form-control bottom-buffer pull-left w-50" type="text" id="phoneNumber" name="phoneNumber" ng-model="vm.phoneNumber.phoneNum" ng-pattern="/^[0-9]/" required />
            <button type="submit" class="btn btn-sm btn-success bottom-buffer left-buffer h-34 p-7" ng-disabled="addPhoneNumForm.$invalid">Add phone number</button>
            <span ng-show="addPhoneNumForm.phoneNumber.$error.pattern" class="text-warning">Not a valid number!</span>
        </div>
    </form>

    <a ng-href="/edit/{{vm.contact.id}}" class="btn btn-sm btn-primary">Edit</a>
</div>