﻿<div class="col-md-6 col-md-offset-3">

    <search-form></search-form>
    <a href="/" ng-show="vm.isSearchList" class="btn btn-sm btn-default bottom-buffer"><i class="fa fa-angle-left"></i>  Back to contact list</a>
    <div class="clearfix"></div>
    <a href="/add" class="btn btn-sm btn-success bottom-buffer">Create New</a>
    <div ng-show="vm.isTagList" class="text-success">Contacts with tag: {{vm.searchTag}}</div>
    <div class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <contact-list display-when="vm.isContactList" applicant-data="vm.contacts" function ="vm.deleteContact"></contact-list>
    <search-list display-when="vm.isSearchList" applicant-data="vm.searchContacts" function ="vm.deleteContact"></search-list>

</div>
