﻿<div class="col-md-6 col-md-offset-3">
    <a href="/" class="btn btn-sm btn-default bottom-buffer">Contact list</a>
    <h2>{{vm.contact.firstName}} {{vm.contact.lastName}}</h2>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="alert alert-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</div>




    <form novalidate name="editContactForm" ng-submit="vm.editContact()">
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormEmail()">Add Email</button>
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormPhone()">Add Phone number</button>
        <button class="btn btn-sm btn-primary bottom-buffer" type="button" ng-click="vm.addFormTag()">Add Tag</button>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" ng-model="vm.contact.firstName" required />
            <span ng-show="editContactForm.firstName.$error.required" class="text-warning">First Name is required.</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" ng-model="vm.contact.lastName" required />
            <span ng-show="editContactForm.lastName.$error.required" class="text-warning">Last Name is required.</span>
        </div>

        <div class="form-group" ng-repeat="mail in vm.contact.emails track by $index">
            <label for="mail">Email{{$index + 1}}</label>
            <div class="input-group">
                <input class="form-control" type="email" id="mail" name="mail_{{$index}}" ng-model="mail.mail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-sm" ng-click='vm.prepareEmail(mail,$index)'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </span>
            </div>
            <span ng-show="editContactForm.mail_{{$index}}.$error.pattern" class="text-warning">Not a valid E-mail!</span>
            <span ng-show="editContactForm.mail_{{$index}}.$error.required" class="text-warning">Email is required.</span>
        </div>
        <div class="form-group" ng-repeat="phone in vm.contact.phoneNumbers track by $index">
            <label for="phone">Phone Number{{$index + 1}}</label>
            <div class="input-group">
                <input class="form-control" type="text" id="phone" name="phone_{{$index}}" ng-model="phone.phoneNum" ng-pattern="/^[0-9]/" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-sm" ng-click='vm.preparePhoneNumber(phone,$index)'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </span>
            </div>
            <span ng-show="editContactForm.phone_{{$index}}.$error.pattern" class="text-warning">Not a valid number!</span>
            <span ng-show="editContactForm.phone_{{$index}}.$error.required" class="text-warning">Phone number is required.</span>
        </div>

        <div class="form-group" ng-repeat="tag in vm.contact.tags track by $index">
            <label for="tag">Tag{{$index + 1}}</label>
            <div class="input-group">
                <input class="form-control" type="text" id="tag" name="tag_{{$index}}" ng-model="tag.tag" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger btn-sm" ng-click='vm.prepareTag(tag,$index)'><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </span>
            </div>
            <span ng-show="editContactForm.tag_{{$index}}.$error.required" class="text-warning">Tag is required.</span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success btn-sm top-buffer" ng-disabled="editContactForm.$invalid" />
        </div>
    </form>
    <div class="alert alert-success" ng-show="vm.saved">Contact saved</div>
</div>