﻿<div class="form-group center-block w-75">
    <input class="form-control bottom-buffer w-75 pull-left" type="text" id="search" name="search" ng-model="vm.searchParam" required />
    <a ng-href="/search/{{vm.searchParam}}" class="btn btn-sm btn-default bottom-buffer left-buffer h-34 p-7">Search</a>
</div>

<div class="form-group center-block w-50">
    <select class="form-control w-70 pull-left" title="Filter by tag" ng-model="vm.tagFilter" ng-options="tag.tag for tag in vm.uniqueTags">
        <option value="">None</option>
    </select>
    <a ng-href="/searchByTag/{{vm.tagFilter.tag}}" class="btn btn-sm btn-default bottom-buffer left-buffer h-34 p-7">Add filter</a>
</div>
