﻿body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Bootstrap */

.bottom-buffer {
    margin-bottom:10px;
}
.top-buffer {
    margin-top: 10px;
}
.left-buffer {
    margin-left:10px
}
.h-34 {
    height:34px;
}
.w-25 {
    width:25%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-70 {
    width: 70%;
}
.w-90 {
    width: 90%;
}
.inline {
    display:inline-block;
}
.p-7 {
    padding:7px 10px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
