﻿
@{
    ViewData["Title"] = "Contacts";
}

@section scripts {
<script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-contacts.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/contactsController.js"></script>
}

<h2>Contacts</h2>



<div class="row" ng-app="app-contacts">
        <div ng-view>

        </div>
    </div>